# Pandas Tutorial
### DataFrame and Series Basics - Selecting Rows and Columns
- **Source:** Corey Schafer - [Python Pandas Playlist](https://www.youtube.com/playlist?list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS)

- Data used from [StackOverflow Developer Survey 2021](https://insights.stackoverflow.com/survey)

In [1]:
import pandas as pd

### Creating a dataframe

In [9]:
people = {
    "first" : ["Parampreet", "Corey", "Anant"],
    "last" : ["Singh", "Schafer", "Luthra"],
    "email" : ["ParampreetSingh@gmail.com", "CoreySchafer@gmail.com", "AnantLuthra@gmail.com"]
}

In [10]:
df = pd.DataFrame(people)
df

        first     last                      email
0  Parampreet    Singh  ParampreetSingh@gmail.com
1       Corey  Schafer     CoreySchafer@gmail.com
2       Anant   Luthra      AnantLuthra@gmail.com

In [11]:
# Accessing the values(rows) of a single column
# It returns a series
df["email"]

0    ParampreetSingh@gmail.com
1       CoreySchafer@gmail.com
2        AnantLuthra@gmail.com
Name: email, dtype: object

In [13]:
# Series is a 1-dimensional array
# or Series is the rows of a single column
type(df["email"])

pandas.core.series.Series

In [14]:
df.email    # same as df["email"]

0    ParampreetSingh@gmail.com
1       CoreySchafer@gmail.com
2        AnantLuthra@gmail.com
Name: email, dtype: object

In [15]:
# Accessing multiple columns of a dataframe
# This is not a Series, as it have multiple columns, so it is a dataframe, extracted from main dataframe.
df[["last", "email"]]

      last                      email
0    Singh  ParampreetSingh@gmail.com
1  Schafer     CoreySchafer@gmail.com
2   Luthra      AnantLuthra@gmail.com

In [16]:
# Returns all the column names
df.columns

Index(['first', 'last', 'email'], dtype='object')

### Accessing data using `iloc`
- It returns the data based on indexed location (iloc)
- Slicing includes both start and stop
- While accessing rows, the indexes are column names
- While accessing columns, the default(provided) indexes are returned

In [18]:
# Here, indexes are column names
df.iloc[0]

first                   Parampreet
last                         Singh
email    ParampreetSingh@gmail.com
Name: 0, dtype: object

In [19]:
# Getting multiple rows using iloc
df.iloc[[0, 2]]

        first    last                      email
0  Parampreet   Singh  ParampreetSingh@gmail.com
2       Anant  Luthra      AnantLuthra@gmail.com

In [20]:
# Getting multiple rows of a specified column
df.iloc[[0, 2], 2]

0    ParampreetSingh@gmail.com
2        AnantLuthra@gmail.com
Name: email, dtype: object

In [21]:
# Getting multiple rows of multiple columns
df.iloc[[0, 2], [0, 1]]

        first    last
0  Parampreet   Singh
2       Anant  Luthra

In [26]:
# Slicing same as numpy slicing
df.iloc[0:,1:]

      last                      email
0    Singh  ParampreetSingh@gmail.com
1  Schafer     CoreySchafer@gmail.com
2   Luthra      AnantLuthra@gmail.com

### Accessing data using `loc`
- It returns the data based on the labels location (loc) or boolean array
- The integers are interpreted as a *label* of the index
- Slicing includes both start and stop

In [22]:
df

        first     last                      email
0  Parampreet    Singh  ParampreetSingh@gmail.com
1       Corey  Schafer     CoreySchafer@gmail.com
2       Anant   Luthra      AnantLuthra@gmail.com

In [31]:
# Accessing first row of the dataframe
# NOTE: 0 is being treated as label, not as integer
df.loc[0]

first                   Parampreet
last                         Singh
email    ParampreetSingh@gmail.com
Name: 0, dtype: object

In [24]:
# Accessing multiple rows of the dataframe
df.loc[[0, 1]]

        first     last                      email
0  Parampreet    Singh  ParampreetSingh@gmail.com
1       Corey  Schafer     CoreySchafer@gmail.com

In [27]:
# Accessing multiple rows of a specific column
df.loc[[0, 2], "email"]

0    ParampreetSingh@gmail.com
2        AnantLuthra@gmail.com
Name: email, dtype: object

In [33]:
# Slicing same as numpy slicing
df.loc[1:, "last":]

      last                   email
1  Schafer  CoreySchafer@gmail.com
2   Luthra   AnantLuthra@gmail.com

### Dataframes of stackoverflow survey result 2021

In [35]:
df = pd.read_csv("data/survey_results_public.csv")
schema_df = pd.read_csv("data/survey_results_schema.csv")

In [36]:
pd.set_option("display.max_columns", 48)

In [37]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [38]:
schema_df.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR

In [39]:
df.shape

(83439, 48)

In [40]:
schema_df.shape

(48, 6)

In [44]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [56]:
df["Gender"]

0        Man
1        Man
2        Man
3        Man
4        Man
        ...
83434    Man
83435    Man
83436    Man
83437    Man
83438    Man
Name: Gender, Length: 83439, dtype: object

In [61]:
# .value_counts() returns a series having unique rows with their counts
df["Gender"].value_counts()

Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64

In [63]:
df.loc[0, "Gender"]

'Man'

In [66]:
df.loc[:2, "Age" : "MentalHealth"]

,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth
0,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above
1,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above
2,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above